html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

@keyframes fall {
  from {
    transform: translateX(0) translateY(0) skew(10deg);
    opacity: .875;
  }
  12.5% {
    transform: translateX(12px) translateY(75px) skew(4deg) rotateZ(0deg);
    opacity: .625;
  }
  37.5% {
    transform: translateX(17px) translateY(225px) skew(-6deg) rotateZ(20deg);
    opacity: .5
  }
  50% {
    transform: translateX(8px) translateY(300px) skew(-2deg) rotateZ(4deg);
    opacity: .125;
  }
  62.5% {
    transform: translateX(4px) translateY(375px) skew(-8deg) rotateZ(-8deg);
    opacity: .375;
  }
  87.5% {
    transform: translateX(-2px) translateY(525px) skew(0deg) rotateZ(12deg);
    opacity: .125;
  }
  to {
    transform: translateX(6px) translateY(600px) skew(2deg) rotateZ(0deg);
    opacity: 0;
  }
}

html,
body {
	width: 960px;
	height: 500px;
	position: relative;
}
.kami {
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0.8;
	background-color: #fff;
	animation-name: fall;
	animation-duration: 25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: backwards;
}