<!DOCTYPE html>
<html lang="ja" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
<title><%= meta.pageTitle %>｜テストサイト</title>
<meta name="description" content="<%= meta.pageDiscription %>" />
<style>
<!--
<%- include('../../base_files/css/style.css') %>
-->
</style>
</head>
<body>