<%
var data = jsonData;
%>
<!DOCTYPE html>
<html lang="ja" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
<title><%= jsonData.pageTitle %>｜テストサイト</title>
<meta name="description" content="<%= jsonData.pageDiscription %>" />
<style>
<!--
<%- include('../css/index.css') %>
-->
</style>
</head>
<body>

<%- include('../../_dev_files/parts_ejs/pc.ejs') %>

</body>
</html>
