<%
var data = meta;
var fileKind = fileKind;
%>
<% if (fileKind === 'view'){ %><%- include('../../base_files/parts_view/top_sp.ejs') %><% } else if (fileKind === 'mock'){ %>mockのtop<% } else if (fileKind === 'stg'){ %>stgのtop<% } %>

<% /* コンテンツはここから */ %>
<div class="bx-text">
	このページはSPの <%= fileKind %> です。
</div>
<% /* コンテンツはここまで */ %>

<% if (fileKind === 'view'){ %><%- include('../../base_files/parts_view/bottom.ejs') %><% } else if (fileKind === 'mock'){ %>mockのbottom<% } else if (fileKind === 'stg'){ %>stgのbottom<% } %>