<%
var meta = meta;
var fileKind = fileKind;
%>
<% if (fileKind === 'view'){ %><%- include('../../base_files/parts_view/top.ejs') %><% } else if (fileKind === 'mock'){ %>mockのtop<% } else if (fileKind === 'stg'){ %>stgのtop<% } %>

<% /* コンテンツはここから */ %>

<div class="bx-flower-object">
	<div class="itm-flower-object"></div>
	<div class="itm-flower-object"></div>
	<div class="itm-flower-object"></div>
	<div class="itm-flower-object"></div>
	<div class="itm-flower-object"></div>
	<div class="itm-flower-object"></div>
<!-- /.bx-flower-object --></div>

<div class="bx-item-visual">
	<img class="img-item-visual img-tapestry" src="https://placehold.jp/460x640.png" alt="" width="460" height="640">
	<img class="img-item-visual img-bavel" src="https://placehold.jp/240x340.png" alt="" width="240" height="340">
	<img class="img-item-visual tx-item-ordermade" src="https://placehold.jp/300x100.png" alt="" width="300" height="100">
	<img class="img-item-visual tx-item-name" src="https://placehold.jp/100x450.png" alt="" width="100" height="450">
<!-- /.bx-item-visual --></div>

<% /* コンテンツはここまで */ %>

<% if (fileKind === 'view'){ %><%- include('../../base_files/parts_view/bottom.ejs') %><% } else if (fileKind === 'mock'){ %>mockのbottom<% } else if (fileKind === 'stg'){ %>stgのbottom<% } %>